[submodule "Real-Time-Rendering-4th-Bibliography-Collection"]
	path = Real-Time-Rendering-4th-Bibliography-Collection
	url = https://github.com/QianMo/Real-Time-Rendering-4th-Bibliography-Collection.git
